* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  background-color: #006c84;
}

.App {
  min-height: 100vh;
}

header {
  color: white;
  padding: 30px 0;
}

.main-content {
  background-color: white;
  padding: 30px;
  border-radius: 20px;
}